<div id="lztv-leader-wrap">
	<a href="{{@blog.url}}/advertise_with_us/">
		<img class="lztv-leader1" src="{{asset "images/lztv-leader.png"}}">
		<img class="lztv-leader2" src="{{asset "images/lztv728.png"}}">
		<img class="lztv-leader3" src="{{asset "images/lztv360.png"}}">
	</a>				
</div><!--lztv-leader-wrap-->

