<nav class="lztv-fly-nav-menu left relative" tabindex="5000" style="overflow: hidden; outline: none;">
			<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7"><a href="http://www.mvpthemes.com/zoxnews/category/tech/#">Features</a>
<ul class="sub-menu">
	<li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-172"><a href="http://www.mvpthemes.com/zoxnews/category/tech/#">Featured Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-453" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453"><a href="http://www.mvpthemes.com/zoxnews/featured-1/">Featured 1</a></li>
		<li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://www.mvpthemes.com/zoxnews/featured-2/">Featured 2</a></li>
		<li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="http://www.mvpthemes.com/zoxnews/featured-3/">Featured 3</a></li>
		<li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.mvpthemes.com/zoxnews/featured-4/">Featured 4</a></li>
		<li id="menu-item-1903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1903"><a href="http://www.mvpthemes.com/zoxnews/featured-5/">Featured 5</a></li>
		<li id="menu-item-1923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1923"><a href="http://www.mvpthemes.com/zoxnews/featured-6/">Featured 6</a></li>
		<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a href="http://www.mvpthemes.com/zoxnews/category/tech/#">More to come!</a></li>
	</ul>
</li>
	<li id="menu-item-169" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-169"><a href="http://www.mvpthemes.com/zoxnews/category/tech/#">Post Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-408" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-408"><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/">Post Template 1</a></li>
		<li id="menu-item-409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-409"><a href="http://www.mvpthemes.com/zoxnews/the-tremendous-importance-of-owning-a-perfect-piece-of-clothing/">Post Template 2</a></li>
		<li id="menu-item-410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410"><a href="http://www.mvpthemes.com/zoxnews/aaron-judge-shows-why-its-unwise-for-fans-to-taunt-aaron-judge/">Post Template 3</a></li>
		<li id="menu-item-411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-411"><a href="http://www.mvpthemes.com/zoxnews/a-photo-diary-of-the-nightlife-scene-from-la-to-ibiza/">Post Template 4</a></li>
		<li id="menu-item-412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-412"><a href="http://www.mvpthemes.com/zoxnews/your-comprehensive-guide-to-this-falls-biggest-trends/">Post Template 5</a></li>
		<li id="menu-item-413" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-413"><a href="http://www.mvpthemes.com/zoxnews/who-are-the-early-favorites-to-win-the-nfl-rushing-title/">Post Template 6</a></li>
		<li id="menu-item-414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-414"><a href="http://www.mvpthemes.com/zoxnews/new-season-8-walking-dead-trailer-flashes-forward-in-time/">Post Template 7</a></li>
		<li id="menu-item-415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-415"><a href="http://www.mvpthemes.com/zoxnews/the-final-6-game-of-thrones-episodes-might-feel-like-a-full-season/">Post Template 8</a></li>
		<li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-416"><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/">Post Gallery</a></li>
		<li id="menu-item-417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-417"><a href="http://www.mvpthemes.com/zoxnews/the-9-worst-mistakes-you-can-ever-make-at-work/">Post/Page Slideshow</a></li>
		<li id="menu-item-457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-457"><a href="http://www.mvpthemes.com/zoxnews/girls-trip-already-surpasses-rough-night-in-opening-weekend/">Review Post</a></li>
	</ul>
</li>
	<li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-170"><a href="http://www.mvpthemes.com/zoxnews/category/tech/#">Page Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="http://www.mvpthemes.com/zoxnews/meet-the-team/">Meet The Team</a></li>
		<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-298"><a href="http://www.mvpthemes.com/zoxnews/sample-page/">Full-Width Page</a></li>
		<li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="http://www.mvpthemes.com/zoxnews/latest-news/">Latest News</a></li>
	</ul>
</li>
	<li id="menu-item-1893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893"><a href="http://www.mvpthemes.com/zoxnews/featured-1/">Entertainment Skin</a></li>
	<li id="menu-item-1894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894"><a href="http://www.mvpthemes.com/zoxnews/featured-2/">Small Navigation</a></li>
	<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://www.mvpthemes.com/zoxnews/wallpaper-ad/">Wallpaper Ad</a></li>
	<li id="menu-item-1898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1898"><a href="http://www.mvpthemes.com/zoxnews/rtl-homepage/">RTL Homepage</a></li>
	<li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://www.mvpthemes.com/zoxnews/typography/">Typography</a></li>
</ul>
</li>
<li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="http://www.mvpthemes.com/zoxnews/category/tech/#">Buy Theme</a></li>
<li id="menu-item-177" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a href="http://www.mvpthemes.com/zoxnews/category/entertainment/">Entertainment</a></li>
<li id="menu-item-364" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-364"><a href="http://www.mvpthemes.com/zoxnews/category/politics/">Politics</a></li>
<li id="menu-item-175" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175"><a href="http://www.mvpthemes.com/zoxnews/category/fashion/">Fashion</a></li>
<li id="menu-item-178" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a href="http://www.mvpthemes.com/zoxnews/category/sports/">Sports</a></li>
<li id="menu-item-335" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-335"><a href="http://www.mvpthemes.com/zoxnews/category/tech/">Tech</a></li>
<li id="menu-item-176" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176"><a href="http://www.mvpthemes.com/zoxnews/category/business/">Business</a></li>
<li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="http://www.mvpthemes.com/zoxnews/shop/">Shop</a></li>
</ul></div>		</nav>