<div class="lztv-widget-ad center relative">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- LZTV Homepage - Lower Leaderboard (Ad 4 of 5) -->
		<ins class="adsbygoogle"
			 style="display:inline-block;width:720px;height:180px;"
			 data-ad-client="ca-pub-3637311592035895"
			 data-ad-slot="7650738437"
			 data-ad-format="auto"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
		{{! ################# FORMER AD PLACEHOLDER #####################
		<img class="lztv-leader1" src="/assets/images/lztv-leader.png">
		<img class="lztv-leader2" src="/assets/images/lztv728.png">
		<img class="lztv-leader3" src="/assets/images/lztv360.png">
		################################################################# }}
</div>
<!--lztv-widget-adx--> 