<section id="mvp_home_feat1_widget-4" class="lztv-widget-home left relative mvp_home_feat1_widget"><div class="lztv-main-box"><div class="lztv-widget-home-head"><h4 class="lztv-widget-home-title"><span class="lztv-widget-home-title">Tech</span></h4></div>
			<div class="lztv-widget-feat1-wrap left relative">
									<div class="lztv-widget-feat1-cont left relative">
																														<a href="http://www.mvpthemes.com/zoxnews/mobile-google-ceo-promises-11-daydream-compatible-phones/" rel="bookmark">
									<div class="lztv-widget-feat1-top-story left relative">
										<div class="lztv-widget-feat1-top-img left relative">
																							<img width="590" height="354" src="assets/images/vr-headset-590x354.jpg" class="lztv-reg-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset.jpg 1000w" sizes="(max-width: 590px) 100vw, 590px">												<img width="400" height="240" src="assets/images/vr-headset-400x240.jpg" class="lztv-mob-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px">																																</div><!--lztv-widget-feat1-top-img-->
										<div class="lztv-widget-feat1-top-text left relative">
											<div class="lztv-cat-date-wrap left relative">
												<span class="lztv-cd-cat left relative">Tech</span><span class="lztv-cd-date left relative">5 months ago</span>
											</div><!--lztv-cat-date-wrap-->
											<h2>Mobile Google CEO Promises 11 Daydream-compatible phones</h2>
										</div><!--lztv-widget-feat1-top-text-->
									</div><!--lztv-widget-feat1-top-story-->
									</a>
																	<a href="http://www.mvpthemes.com/zoxnews/fords-2018-mustang-gt-can-do-0-to-60-mph-in-under-4-seconds/" rel="bookmark">
									<div class="lztv-widget-feat1-top-story left relative">
										<div class="lztv-widget-feat1-top-img left relative">
																							<img width="590" height="354" src="assets/images/blue-car-590x354.jpg" class="lztv-reg-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car.jpg 1000w" sizes="(max-width: 590px) 100vw, 590px">												<img width="400" height="240" src="assets/images/blue-car-400x240.jpg" class="lztv-mob-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px">																																</div><!--lztv-widget-feat1-top-img-->
										<div class="lztv-widget-feat1-top-text left relative">
											<div class="lztv-cat-date-wrap left relative">
												<span class="lztv-cd-cat left relative">Tech</span><span class="lztv-cd-date left relative">5 months ago</span>
											</div><!--lztv-cat-date-wrap-->
											<h2>Ford’s 2018 Mustang GT can do 0-to-60 mph in under 4 seconds</h2>
										</div><!--lztv-widget-feat1-top-text-->
									</div><!--lztv-widget-feat1-top-story-->
									</a>
																										</div><!--lztv-widget-feat1-cont-->
													<div class="lztv-widget-feat1-cont left relative">
																														<a href="http://www.mvpthemes.com/zoxnews/hulu-hires-google-marketing-veteran-kelly-campbell-as-cmo/" rel="bookmark">
									<div class="lztv-widget-feat1-bot-story left relative">
										<div class="lztv-widget-feat1-bot-img left relative">
																							<img width="400" height="240" src="assets/images/business-woman-400x240.jpg" class="lztv-reg-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px">												<img width="80" height="80" src="assets/images/business-woman-80x80.jpg" class="lztv-mob-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-80x80.jpg 80w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-150x150.jpg 150w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-180x180.jpg 180w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-300x300.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px">																																</div><!--lztv-widget-feat1-bot-img-->
										<div class="lztv-widget-feat1-bot-text left relative">
											<div class="lztv-cat-date-wrap left relative">
												<span class="lztv-cd-cat left relative">Tech</span><span class="lztv-cd-date left relative">5 months ago</span>
											</div><!--lztv-cat-date-wrap-->
											<h2>Hulu hires Google marketing veteran Kelly Campbell as CMO</h2>
										</div><!--lztv-widget-feat1-bot-text-->
									</div><!--lztv-widget-feat1-bot-story-->
									</a>
																	<a href="http://www.mvpthemes.com/zoxnews/nasa-seeks-to-build-a-quieter-supersonic-plane-for-passenger-flight/" rel="bookmark">
									<div class="lztv-widget-feat1-bot-story left relative">
										<div class="lztv-widget-feat1-bot-img left relative">
																							<img width="400" height="240" src="assets/images/airplane-400x240.jpg" class="lztv-reg-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px">												<img width="80" height="80" src="assets/images/airplane-80x80.jpg" class="lztv-mob-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-80x80.jpg 80w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-150x150.jpg 150w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-180x180.jpg 180w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-300x300.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px">																																</div><!--lztv-widget-feat1-bot-img-->
										<div class="lztv-widget-feat1-bot-text left relative">
											<div class="lztv-cat-date-wrap left relative">
												<span class="lztv-cd-cat left relative">Tech</span><span class="lztv-cd-date left relative">5 months ago</span>
											</div><!--lztv-cat-date-wrap-->
											<h2>NASA seeks to build a quieter supersonic plane for passenger flight</h2>
										</div><!--lztv-widget-feat1-bot-text-->
									</div><!--lztv-widget-feat1-bot-story-->
									</a>
																	<a href="http://www.mvpthemes.com/zoxnews/microsoft-paint-is-finally-dead-and-the-world-is-a-better-place/" rel="bookmark">
									<div class="lztv-widget-feat1-bot-story left relative">
										<div class="lztv-widget-feat1-bot-img left relative">
																							<img width="400" height="240" src="assets/images/women-computer-400x240.jpg" class="lztv-reg-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px">												<img width="80" height="80" src="assets/images/women-computer-80x80.jpg" class="lztv-mob-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-80x80.jpg 80w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-150x150.jpg 150w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-180x180.jpg 180w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-300x300.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px">																																</div><!--lztv-widget-feat1-bot-img-->
										<div class="lztv-widget-feat1-bot-text left relative">
											<div class="lztv-cat-date-wrap left relative">
												<span class="lztv-cd-cat left relative">Tech</span><span class="lztv-cd-date left relative">5 months ago</span>
											</div><!--lztv-cat-date-wrap-->
											<h2>Microsoft Paint is finally dead, and the world Is a better place</h2>
										</div><!--lztv-widget-feat1-bot-text-->
									</div><!--lztv-widget-feat1-bot-story-->
									</a>
																	<a href="http://www.mvpthemes.com/zoxnews/netflix-was-the-top-grossing-app-in-q2-with-mobile-revenue-up-233/" rel="bookmark">
									<div class="lztv-widget-feat1-bot-story left relative">
										<div class="lztv-widget-feat1-bot-img left relative">
																							<img width="400" height="240" src="assets/images/video-screens-400x240.jpg" class="lztv-reg-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px">												<img width="80" height="80" src="assets/images/video-screens-80x80.jpg" class="lztv-mob-img lazy wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-80x80.jpg 80w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-150x150.jpg 150w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-180x180.jpg 180w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-300x300.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/video-screens-600x600.jpg 600w" sizes="(max-width: 80px) 100vw, 80px">																																</div><!--lztv-widget-feat1-bot-img-->
										<div class="lztv-widget-feat1-bot-text left relative">
											<div class="lztv-cat-date-wrap left relative">
												<span class="lztv-cd-cat left relative">Tech</span><span class="lztv-cd-date left relative">5 months ago</span>
											</div><!--lztv-cat-date-wrap-->
											<h2>Netflix was the top grossing app in Q2, with mobile revenue up 233%</h2>
										</div><!--lztv-widget-feat1-bot-text-->
									</div><!--lztv-widget-feat1-bot-story-->
									</a>
																										</div><!--lztv-widget-feat1-cont-->
							</div><!--lztv-widget-feat1-wrap-->

		</div></section>