    <ul class="lztv-fly-soc-list left relative">
      <li><a href="{{facebook_url @blog.facebook}}" target="_blank" class="fa fa-facebook fa-2"></a></li>
      <li><a href="{{twitter_url @blog.twitter}}" target="_blank" class="fa fa-twitter fa-2"></a></li>
      <li><a href="http://www.instagram.com/lazytechtv" target="_blank" class="fa fa-instagram fa-2"></a></li>
      <li><a href="https://www.youtube.com/user/lazytechtv" target="_blank" class="fa fa-youtube-play fa-2"></a></li>
    </ul>