<!DOCTYPE html>
<!-- saved from url=(0045)http://www.mvpthemes.com/zoxnews/sample-page/ -->
<html lang="en-US" style="transform: none;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<link rel="pingback" href="http://www.mvpthemes.com/zoxnews/xmlrpc.php">
<meta property="og:description" content="Professional WordPress News &amp; Magazine Theme">
<title>Full-Width Page – Zox News</title>
<link rel="dns-prefetch" href="http://fonts.googleapis.com/">
<link rel="dns-prefetch" href="http://s.w.org/">
<link rel="alternate" type="application/rss+xml" title="Zox News » Feed" href="http://www.mvpthemes.com/zoxnews/feed/">
<link rel="alternate" type="application/rss+xml" title="Zox News » Comments Feed" href="http://www.mvpthemes.com/zoxnews/comments/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/www.mvpthemes.com\/zoxnews\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.1"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55358,56794,8205,9794,65039],[55358,56794,8203,9794,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="assets/js/wp-emoji-release.min.js.download" type="text/javascript" defer=""></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="woocommerce-layout-css" href="assets/css/woocommerce-layout.css" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-smallscreen-css" href="assets/css/woocommerce-smallscreen.css" type="text/css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" id="woocommerce-general-css" href="assets/css/woocommerce.css" type="text/css" media="all">
<link rel="stylesheet" id="reviewer-photoswipe-css" href="assets/css/photoswipe.css" type="text/css" media="all">
<link rel="stylesheet" id="dashicons-css" href="assets/css/dashicons.min.css" type="text/css" media="all">
<link rel="stylesheet" id="reviewer-public-css" href="assets/css/reviewer-public.css" type="text/css" media="all">
<link rel="stylesheet" id="lztv-custom-style-css" href="assets/css/style.css" type="text/css" media="all">
<style id="lztv-custom-style-inline-css" type="text/css">


#lztv-wallpaper {
	background: url() no-repeat 50% 0;
	}

#lztv-foot-copy a {
	color: #0be6af;
	}

#lztv-content-main p a,
.lztv-post-add-main p a {
	box-shadow: inset 0 -4px 0 #0be6af;
	}

#lztv-content-main p a:hover,
.lztv-post-add-main p a:hover {
	background: #0be6af;
	}

a,
a:visited,
.post-info-name a,
.woocommerce .woocommerce-breadcrumb a {
	color: #ff005b;
	}

#lztv-side-wrap a:hover {
	color: #ff005b;
	}

.lztv-fly-top:hover,
.lztv-vid-box-wrap,
ul.lztv-soc-mob-list li.lztv-soc-mob-com {
	background: #0be6af;
	}

nav.lztv-fly-nav-menu ul li.menu-item-has-children:after,
.lztv-feat1-left-wrap span.lztv-cd-cat,
.lztv-widget-feat1-top-story span.lztv-cd-cat,
.lztv-widget-feat2-left-cont span.lztv-cd-cat,
.lztv-widget-dark-feat span.lztv-cd-cat,
.lztv-widget-dark-sub span.lztv-cd-cat,
.lztv-vid-wide-text span.lztv-cd-cat,
.lztv-feat2-top-text span.lztv-cd-cat,
.lztv-feat3-main-story span.lztv-cd-cat,
.lztv-feat3-sub-text span.lztv-cd-cat,
.lztv-feat4-main-text span.lztv-cd-cat,
.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-message:before {
	color: #0be6af;
	}

#searchform input,
.lztv-authors-name {
	border-bottom: 1px solid #0be6af;
	}

.lztv-fly-top:hover {
	border-top: 1px solid #0be6af;
	border-left: 1px solid #0be6af;
	border-bottom: 1px solid #0be6af;
	}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #0be6af;
	}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	border-top-color: #0be6af;
	}

ul.lztv-feat1-list-buts li.active span.lztv-feat1-list-but,
span.lztv-widget-home-title,
span.lztv-post-cat,
span.lztv-feat1-pop-head {
	background: #ff005b;
	}

.woocommerce span.onsale {
	background-color: #ff005b;
	}

.lztv-widget-feat2-side-more-but,
.woocommerce .star-rating span:before,
span.lztv-prev-next-label,
.lztv-cat-date-wrap .sticky {
	color: #ff005b !important;
	}

#lztv-main-nav-top,
#lztv-fly-wrap,
.lztv-soc-mob-right,
#lztv-main-nav-small-cont {
	background: #000000;
	}

#lztv-main-nav-small .lztv-fly-but-wrap span,
#lztv-main-nav-small .lztv-search-but-wrap span,
.lztv-nav-top-left .lztv-fly-but-wrap span,
#lztv-fly-wrap .lztv-fly-but-wrap span {
	background: #777777;
	}

.lztv-nav-top-right .lztv-nav-search-but,
span.lztv-fly-soc-head,
.lztv-soc-mob-right i,
#lztv-main-nav-small span.lztv-nav-search-but,
#lztv-main-nav-small .lztv-nav-menu ul li a  {
	color: #777777;
	}

#lztv-main-nav-small .lztv-nav-menu ul li.menu-item-has-children a:after {
	border-color: #777777 transparent transparent transparent;
	}

#lztv-nav-top-wrap span.lztv-nav-search-but:hover,
#lztv-main-nav-small span.lztv-nav-search-but:hover {
	color: #0be6af;
	}

#lztv-nav-top-wrap .lztv-fly-but-wrap:hover span,
#lztv-main-nav-small .lztv-fly-but-wrap:hover span,
span.lztv-woo-cart-num:hover {
	background: #0be6af;
	}

#lztv-main-nav-bot-cont {
	background: #ffffff;
	}

#lztv-nav-bot-wrap .lztv-fly-but-wrap span,
#lztv-nav-bot-wrap .lztv-search-but-wrap span {
	background: #333333;
	}

#lztv-nav-bot-wrap span.lztv-nav-search-but,
#lztv-nav-bot-wrap .lztv-nav-menu ul li a {
	color: #333333;
	}

#lztv-nav-bot-wrap .lztv-nav-menu ul li.menu-item-has-children a:after {
	border-color: #333333 transparent transparent transparent;
	}

.lztv-nav-menu ul li:hover a {
	border-bottom: 5px solid #0be6af;
	}

#lztv-nav-bot-wrap .lztv-fly-but-wrap:hover span {
	background: #0be6af;
	}

#lztv-nav-bot-wrap span.lztv-nav-search-but:hover {
	color: #0be6af;
	}

body,
.lztv-feat1-feat-text p,
.lztv-feat2-top-text p,
.lztv-feat3-main-text p,
.lztv-feat3-sub-text p,
#searchform input,
.lztv-author-info-text,
span.lztv-post-excerpt,
.lztv-nav-menu ul li ul.sub-menu li a,
nav.lztv-fly-nav-menu ul li a,
.lztv-ad-label,
span.lztv-feat-caption,
.lztv-post-tags a,
.lztv-post-tags a:visited,
span.lztv-author-box-name a,
#lztv-author-box-text p,
.lztv-post-gallery-text p,
ul.lztv-soc-mob-list li span,
#comments,
h3#reply-title,
h2.comments,
#lztv-foot-copy p,
span.lztv-fly-soc-head,
.lztv-post-tags-header,
span.lztv-prev-next-label,
span.lztv-post-add-link-but,
#lztv-comments-button a,
#lztv-comments-button span.lztv-comment-but-text,
.woocommerce ul.product_list_widget span.product-title,
.woocommerce ul.product_list_widget li a,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta,
.woocommerce div.product p.price,
.woocommerce div.product p.price ins,
.woocommerce div.product p.price del,
.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce span.onsale,
.woocommerce-review-link,
#woo-content p.woocommerce-result-count,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
a.lztv-inf-more-but,
span.lztv-cont-read-but,
span.lztv-cd-cat,
span.lztv-cd-date,
.lztv-feat4-main-text p,
span.lztv-woo-cart-num,
span.lztv-widget-home-title2,
.wp-caption,
#lztv-content-main p.wp-caption-text,
.gallery-caption,
.lztv-post-add-main p.wp-caption-text,
#bbpress-forums,
#bbpress-forums p,
.protected-post-form input,
#lztv-feat6-text p {
	font-family: 'Roboto', sans-serif;
	}

.lztv-blog-story-text p,
span.lztv-author-page-desc,
#lztv-404 p,
.lztv-widget-feat1-bot-text p,
.lztv-widget-feat2-left-text p,
.lztv-flex-story-text p,
.lztv-search-text p,
#lztv-content-main p,
.lztv-post-add-main p,
.rwp-summary,
.rwp-u-review__comment,
.lztv-feat5-mid-main-text p,
.lztv-feat5-small-main-text p {
	font-family: 'Roboto', sans-serif;
	}

.lztv-nav-menu ul li a,
#lztv-foot-menu ul li a {
	font-family: 'Oswald', sans-serif;
	}


.lztv-feat1-sub-text h2,
.lztv-feat1-pop-text h2,
.lztv-feat1-list-text h2,
.lztv-widget-feat1-top-text h2,
.lztv-widget-feat1-bot-text h2,
.lztv-widget-dark-feat-text h2,
.lztv-widget-dark-sub-text h2,
.lztv-widget-feat2-left-text h2,
.lztv-widget-feat2-right-text h2,
.lztv-blog-story-text h2,
.lztv-flex-story-text h2,
.lztv-vid-wide-more-text p,
.lztv-prev-next-text p,
.lztv-related-text,
.lztv-post-more-text p,
h2.lztv-authors-latest a,
.lztv-feat2-bot-text h2,
.lztv-feat3-sub-text h2,
.lztv-feat3-main-text h2,
.lztv-feat4-main-text h2,
.lztv-feat5-text h2,
.lztv-feat5-mid-main-text h2,
.lztv-feat5-small-main-text h2,
.lztv-feat5-mid-sub-text h2,
#lztv-feat6-text h2 {
	font-family: 'Oswald', sans-serif;
	}

.lztv-feat2-top-text h2,
.lztv-feat1-feat-text h2,
h1.lztv-post-title,
h1.lztv-post-title-wide,
.lztv-drop-nav-title h4,
#lztv-content-main blockquote p,
.lztv-post-add-main blockquote p,
#lztv-404 h1,
#woo-content h1.page-title,
.woocommerce div.product .product_title,
.woocommerce ul.products li.product h3 {
	font-family: 'Oswald', sans-serif;
	}

span.lztv-feat1-pop-head,
.lztv-feat1-pop-text:before,
span.lztv-feat1-list-but,
span.lztv-widget-home-title,
.lztv-widget-feat2-side-more,
span.lztv-post-cat,
span.lztv-page-head,
h1.lztv-author-top-head,
.lztv-authors-name,
#lztv-content-main h1,
#lztv-content-main h2,
#lztv-content-main h3,
#lztv-content-main h4,
#lztv-content-main h5,
#lztv-content-main h6,
.woocommerce .related h2,
.woocommerce div.product .woocommerce-tabs .panel h2,
.woocommerce div.product .product_title,
.lztv-feat5-side-list .lztv-feat1-list-img:after {
	font-family: 'Oswald', sans-serif;
	}

	

	.lztv-nav-links {
		display: none;
		}
		

	@media screen and (max-width: 479px) {
		.single #lztv-content-body-top {
			max-height: 400px;
			}
		.single .lztv-cont-read-but-wrap {
			display: inline;
			}
		}
		

 	@media screen and (min-width: 900px) {
.lztv-leader2,
.lztv-leader3 {
display: none;
}
}
@media screen and (max-width: 899px) and (min-width: 480px) {
.lztv-leader1,
.lztv-leader3 {
display: none;
}
.lztv-leader2 {
display: inline-block;
}
}
@media screen and (max-width: 479px) {
.lztv-leader1,
.lztv-leader2,
.lztv-leader4 {
display: none;
}
.lztv-leader3 {
display: inline-block;
}
}
		
</style>
<link rel="stylesheet" id="lztv-reset-css" href="assets/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" id="fontawesome-css" href="assets/css/font-awesome.css" type="text/css" media="all">
<link rel="stylesheet" id="lztv-fonts-css" href="assets/css/default.css" type="text/css" media="all">
<link rel="stylesheet" id="lztv-media-queries-css" href="assets/css/media-queries.css" type="text/css" media="all">
<script type="text/javascript" src="assets/js/jquery.js.download"></script>
<script type="text/javascript" src="assets/js/jquery-migrate.min.js.download"></script>
<link rel="https://api.w.org/" href="http://www.mvpthemes.com/zoxnews/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.mvpthemes.com/zoxnews/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.mvpthemes.com/zoxnews/wp-includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.9.1">
<meta name="generator" content="WooCommerce 3.2.5">
<link rel="canonical" href="http://www.mvpthemes.com/zoxnews/sample-page/">
<link rel="shortlink" href="http://www.mvpthemes.com/zoxnews/?p=192">
<link rel="alternate" type="application/json+oembed" href="http://www.mvpthemes.com/zoxnews/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.mvpthemes.com%2Fzoxnews%2Fsample-page%2F">
<link rel="alternate" type="text/xml+oembed" href="http://www.mvpthemes.com/zoxnews/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.mvpthemes.com%2Fzoxnews%2Fsample-page%2F&amp;format=xml">
	<noscript>&lt;style&gt;.woocommerce-product-gallery{ opacity: 1 !important; }&lt;/style&gt;</noscript>
	<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #dddddd; }
</style>
<style>.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style></head>
<body class="page-template page-template-page-fullwidth page-template-page-fullwidth-php page page-id-192 custom-background" style="transform: none;">
	<div id="lztv-fly-wrap">
	<div id="lztv-fly-menu-top" class="left relative">
		<div class="lztv-fly-top-out left relative">
			<div class="lztv-fly-top-in">
				<div id="lztv-fly-logo" class="left relative">
											<a href="http://www.mvpthemes.com/zoxnews/"><img src="assets/images/logo-nav.png" alt="Zox News" data-rjs="2"></a>
									</div><!--lztv-fly-logo-->
			</div><!--lztv-fly-top-in-->
			<div class="lztv-fly-but-wrap lztv-fly-but-menu lztv-fly-but-click">
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div><!--lztv-fly-but-wrap-->
		</div><!--lztv-fly-top-out-->
	</div><!--lztv-fly-menu-top-->
	<div id="lztv-fly-menu-wrap">
		<nav class="lztv-fly-nav-menu left relative" tabindex="5000" style="overflow: hidden; outline: none;">
			<div class="menu-main-menu-container"><ul id="menu-main-menu" class="menu"><li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-7"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Features</a>
<ul class="sub-menu">
	<li id="menu-item-172" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-172"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Featured Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-453" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453"><a href="http://www.mvpthemes.com/zoxnews/featured-1/">Featured 1</a></li>
		<li id="menu-item-452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://www.mvpthemes.com/zoxnews/featured-2/">Featured 2</a></li>
		<li id="menu-item-451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="http://www.mvpthemes.com/zoxnews/featured-3/">Featured 3</a></li>
		<li id="menu-item-450" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.mvpthemes.com/zoxnews/featured-4/">Featured 4</a></li>
		<li id="menu-item-1903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1903"><a href="http://www.mvpthemes.com/zoxnews/featured-5/">Featured 5</a></li>
		<li id="menu-item-1923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1923"><a href="http://www.mvpthemes.com/zoxnews/featured-6/">Featured 6</a></li>
		<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">More to come!</a></li>
	</ul>
</li>
	<li id="menu-item-169" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-169"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Post Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-408" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-408"><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/">Post Template 1</a></li>
		<li id="menu-item-409" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-409"><a href="http://www.mvpthemes.com/zoxnews/the-tremendous-importance-of-owning-a-perfect-piece-of-clothing/">Post Template 2</a></li>
		<li id="menu-item-410" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410"><a href="http://www.mvpthemes.com/zoxnews/aaron-judge-shows-why-its-unwise-for-fans-to-taunt-aaron-judge/">Post Template 3</a></li>
		<li id="menu-item-411" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-411"><a href="http://www.mvpthemes.com/zoxnews/a-photo-diary-of-the-nightlife-scene-from-la-to-ibiza/">Post Template 4</a></li>
		<li id="menu-item-412" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-412"><a href="http://www.mvpthemes.com/zoxnews/your-comprehensive-guide-to-this-falls-biggest-trends/">Post Template 5</a></li>
		<li id="menu-item-413" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-413"><a href="http://www.mvpthemes.com/zoxnews/who-are-the-early-favorites-to-win-the-nfl-rushing-title/">Post Template 6</a></li>
		<li id="menu-item-414" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-414"><a href="http://www.mvpthemes.com/zoxnews/new-season-8-walking-dead-trailer-flashes-forward-in-time/">Post Template 7</a></li>
		<li id="menu-item-415" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-415"><a href="http://www.mvpthemes.com/zoxnews/the-final-6-game-of-thrones-episodes-might-feel-like-a-full-season/">Post Template 8</a></li>
		<li id="menu-item-416" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-416"><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/">Post Gallery</a></li>
		<li id="menu-item-417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-417"><a href="http://www.mvpthemes.com/zoxnews/the-9-worst-mistakes-you-can-ever-make-at-work/">Post/Page Slideshow</a></li>
		<li id="menu-item-457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-457"><a href="http://www.mvpthemes.com/zoxnews/girls-trip-already-surpasses-rough-night-in-opening-weekend/">Review Post</a></li>
	</ul>
</li>
	<li id="menu-item-170" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-170"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Page Layouts</a>
	<ul class="sub-menu">
		<li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="http://www.mvpthemes.com/zoxnews/meet-the-team/">Meet The Team</a></li>
		<li id="menu-item-298" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-192 current_page_item menu-item-298"><a href="http://www.mvpthemes.com/zoxnews/sample-page/">Full-Width Page</a></li>
		<li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="http://www.mvpthemes.com/zoxnews/latest-news/">Latest News</a></li>
	</ul>
</li>
	<li id="menu-item-1893" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893"><a href="http://www.mvpthemes.com/zoxnews/featured-1/">Entertainment Skin</a></li>
	<li id="menu-item-1894" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894"><a href="http://www.mvpthemes.com/zoxnews/featured-2/">Small Navigation</a></li>
	<li id="menu-item-427" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://www.mvpthemes.com/zoxnews/wallpaper-ad/">Wallpaper Ad</a></li>
	<li id="menu-item-1898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1898"><a href="http://www.mvpthemes.com/zoxnews/rtl-homepage/">RTL Homepage</a></li>
	<li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://www.mvpthemes.com/zoxnews/typography/">Typography</a></li>
</ul>
</li>
<li id="menu-item-39" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Buy Theme</a></li>
<li id="menu-item-177" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a href="http://www.mvpthemes.com/zoxnews/category/entertainment/">Entertainment</a></li>
<li id="menu-item-364" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-364"><a href="http://www.mvpthemes.com/zoxnews/category/politics/">Politics</a></li>
<li id="menu-item-175" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175"><a href="http://www.mvpthemes.com/zoxnews/category/fashion/">Fashion</a></li>
<li id="menu-item-178" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a href="http://www.mvpthemes.com/zoxnews/category/sports/">Sports</a></li>
<li id="menu-item-335" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-335"><a href="http://www.mvpthemes.com/zoxnews/category/tech/">Tech</a></li>
<li id="menu-item-176" class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176"><a href="http://www.mvpthemes.com/zoxnews/category/business/">Business</a></li>
<li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="http://www.mvpthemes.com/zoxnews/shop/">Shop</a></li>
</ul></div>		</nav>
	</div><!--lztv-fly-menu-wrap-->
	<div id="lztv-fly-soc-wrap">
		<span class="lztv-fly-soc-head">Connect with us</span>
		<ul class="lztv-fly-soc-list left relative">
							<li><a href="http://www.facebook.com/envato" target="_blank" class="fa fa-facebook fa-2"></a></li>
										<li><a href="http://www.twitter.com/mvpthemes" target="_blank" class="fa fa-twitter fa-2"></a></li>
										<li><a href="http://www.pinterest.com/envato" target="_blank" class="fa fa-pinterest-p fa-2"></a></li>
										<li><a href="http://www.instagram.com/envato" target="_blank" class="fa fa-instagram fa-2"></a></li>
										<li><a href="https://plus.google.com/+envato/posts" target="_blank" class="fa fa-google-plus fa-2"></a></li>
										<li><a href="https://www.youtube.com/user/envato" target="_blank" class="fa fa-youtube-play fa-2"></a></li>
										<li><a href="https://www.linkedin.com/company/envato" target="_blank" class="fa fa-linkedin fa-2"></a></li>
										<li><a href="http://wonderfulworldofwebdesign.tumblr.com/" target="_blank" class="fa fa-tumblr fa-2"></a></li>
					</ul>
	</div><!--lztv-fly-soc-wrap-->
</div><!--lztv-fly-wrap-->	<div id="lztv-site" class="left relative" style="transform: none;">
		<div id="lztv-search-wrap">
			<div id="lztv-search-box">
				<form method="get" id="searchform" action="http://www.mvpthemes.com/zoxnews/">
	<input type="text" name="s" id="s" value="Search" onfocus="if (this.value == &quot;Search&quot;) { this.value = &quot;&quot;; }" onblur="if (this.value == &quot;&quot;) { this.value = &quot;Search&quot;; }">
	<input type="hidden" id="searchsubmit" value="Search">
</form>			</div><!--lztv-search-box-->
			<div class="lztv-search-but-wrap lztv-search-click">
				<span></span>
				<span></span>
			</div><!--lztv-search-but-wrap-->
		</div><!--lztv-search-wrap-->
				<div id="lztv-site-wall" class="left relative" style="transform: none;">
											<div id="lztv-leader-wrap">
					<a href="https://themeforest.net/item/zox-news-professional-wordpress-news-magazine-theme/20381541?ref=mvpthemes" target="_blank"><img class="lztv-leader1" src="assets/images/zox-leader.png"><img class="lztv-leader2" src="assets/images/zox728.png"><img class="lztv-leader3" src="assets/images/zox360.png"></a>				</div><!--lztv-leader-wrap-->
										<div id="lztv-site-main" class="left relative" style="transform: none;">
			<header id="lztv-main-head-wrap" class="left relative">
									<nav id="lztv-main-nav-wrap" class="left relative">
						<div id="lztv-main-nav-top" class="left relative">
							<div class="lztv-main-box">
								<div id="lztv-nav-top-wrap" class="left relative">
									<div class="lztv-nav-top-right-out left relative">
										<div class="lztv-nav-top-right-in">
											<div class="lztv-nav-top-cont left relative">
												<div class="lztv-nav-top-left-out relative">
													<div class="lztv-nav-top-left">
														<div class="lztv-nav-soc-wrap">
																															<a href="http://www.facebook.com/envato" target="_blank"><span class="lztv-nav-soc-but fa fa-facebook fa-2"></span></a>
																																														<a href="http://www.twitter.com/mvpthemes" target="_blank"><span class="lztv-nav-soc-but fa fa-twitter fa-2"></span></a>
																																														<a href="http://www.instagram.com/envato" target="_blank"><span class="lztv-nav-soc-but fa fa-instagram fa-2"></span></a>
																																														<a href="https://www.youtube.com/user/envato" target="_blank"><span class="lztv-nav-soc-but fa fa-youtube-play fa-2"></span></a>
																													</div><!--lztv-nav-soc-wrap-->
														<div class="lztv-fly-but-wrap lztv-fly-but-click left relative">
															<span></span>
															<span></span>
															<span></span>
															<span></span>
														</div><!--lztv-fly-but-wrap-->
													</div><!--lztv-nav-top-left-->
													<div class="lztv-nav-top-left-in">
														<div class="lztv-nav-top-mid left relative" itemscope="" itemtype="http://schema.org/Organization">
																															<a class="lztv-nav-logo-reg" itemprop="url" href="http://www.mvpthemes.com/zoxnews/"><img itemprop="logo" src="assets/images/logo-large.png" alt="Zox News" data-rjs="2"></a>
																																														<a class="lztv-nav-logo-small" href="http://www.mvpthemes.com/zoxnews/"><img src="assets/images/logo-nav.png" alt="Zox News" data-rjs="2"></a>
																																														<h2 class="lztv-logo-title">Zox News</h2>
																																												</div><!--lztv-nav-top-mid-->
													</div><!--lztv-nav-top-left-in-->
												</div><!--lztv-nav-top-left-out-->
											</div><!--lztv-nav-top-cont-->
										</div><!--lztv-nav-top-right-in-->
										<div class="lztv-nav-top-right">
																							<div class="lztv-woo-cart-wrap">
													<a class="lztv-woo-cart" href="http://www.mvpthemes.com/zoxnews/cart/" title="View your shopping cart"><span class="lztv-woo-cart-num">0</span></a><span class="lztv-woo-cart-icon fa fa-shopping-cart" aria-hidden="true"></span>
												</div><!--lztv-woo-cart-wrap-->
																						<span class="lztv-nav-search-but fa fa-search fa-2 lztv-search-click"></span>
										</div><!--lztv-nav-top-right-->
									</div><!--lztv-nav-top-right-out-->
								</div><!--lztv-nav-top-wrap-->
							</div><!--lztv-main-box-->
						</div><!--lztv-main-nav-top-->
						<div id="lztv-main-nav-bot" class="left relative" style="margin-top: 0px;">
							<div id="lztv-main-nav-bot-cont" class="left">
								<div class="lztv-main-box">
									<div id="lztv-nav-bot-wrap" class="left">
										<div class="lztv-nav-bot-right-out left">
											<div class="lztv-nav-bot-right-in">
												<div class="lztv-nav-bot-cont left">
													<div class="lztv-nav-bot-left-out">
														<div class="lztv-nav-bot-left left relative">
															<div class="lztv-fly-but-wrap lztv-fly-but-click left relative">
																<span></span>
																<span></span>
																<span></span>
																<span></span>
															</div><!--lztv-fly-but-wrap-->
														</div><!--lztv-nav-bot-left-->
														<div class="lztv-nav-bot-left-in">
															<div class="lztv-nav-menu left">
																<div class="menu-main-menu-container"><ul id="menu-main-menu-1" class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor menu-item-has-children menu-item-7"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Features</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-172"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Featured Layouts</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-453"><a href="http://www.mvpthemes.com/zoxnews/featured-1/">Featured 1</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-452"><a href="http://www.mvpthemes.com/zoxnews/featured-2/">Featured 2</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-451"><a href="http://www.mvpthemes.com/zoxnews/featured-3/">Featured 3</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-450"><a href="http://www.mvpthemes.com/zoxnews/featured-4/">Featured 4</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1903"><a href="http://www.mvpthemes.com/zoxnews/featured-5/">Featured 5</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1923"><a href="http://www.mvpthemes.com/zoxnews/featured-6/">Featured 6</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-454"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">More to come!</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-169"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Post Layouts</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-408"><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/">Post Template 1</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-409"><a href="http://www.mvpthemes.com/zoxnews/the-tremendous-importance-of-owning-a-perfect-piece-of-clothing/">Post Template 2</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-410"><a href="http://www.mvpthemes.com/zoxnews/aaron-judge-shows-why-its-unwise-for-fans-to-taunt-aaron-judge/">Post Template 3</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-411"><a href="http://www.mvpthemes.com/zoxnews/a-photo-diary-of-the-nightlife-scene-from-la-to-ibiza/">Post Template 4</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-412"><a href="http://www.mvpthemes.com/zoxnews/your-comprehensive-guide-to-this-falls-biggest-trends/">Post Template 5</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-413"><a href="http://www.mvpthemes.com/zoxnews/who-are-the-early-favorites-to-win-the-nfl-rushing-title/">Post Template 6</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-414"><a href="http://www.mvpthemes.com/zoxnews/new-season-8-walking-dead-trailer-flashes-forward-in-time/">Post Template 7</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-415"><a href="http://www.mvpthemes.com/zoxnews/the-final-6-game-of-thrones-episodes-might-feel-like-a-full-season/">Post Template 8</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-416"><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/">Post Gallery</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-417"><a href="http://www.mvpthemes.com/zoxnews/the-9-worst-mistakes-you-can-ever-make-at-work/">Post/Page Slideshow</a></li>
		<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-457"><a href="http://www.mvpthemes.com/zoxnews/girls-trip-already-surpasses-rough-night-in-opening-weekend/">Review Post</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-170"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Page Layouts</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="http://www.mvpthemes.com/zoxnews/meet-the-team/">Meet The Team</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-192 current_page_item menu-item-298"><a href="http://www.mvpthemes.com/zoxnews/sample-page/">Full-Width Page</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="http://www.mvpthemes.com/zoxnews/latest-news/">Latest News</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1893"><a href="http://www.mvpthemes.com/zoxnews/featured-1/">Entertainment Skin</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1894"><a href="http://www.mvpthemes.com/zoxnews/featured-2/">Small Navigation</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-427"><a href="http://www.mvpthemes.com/zoxnews/wallpaper-ad/">Wallpaper Ad</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1898"><a href="http://www.mvpthemes.com/zoxnews/rtl-homepage/">RTL Homepage</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="http://www.mvpthemes.com/zoxnews/typography/">Typography</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Buy Theme</a></li>
<li class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-177"><a href="http://www.mvpthemes.com/zoxnews/category/entertainment/">Entertainment</a><div class="lztv-mega-dropdown"><div class="lztv-main-box"><ul class="lztv-mega-list"><li><a href="http://www.mvpthemes.com/zoxnews/the-final-6-game-of-thrones-episodes-might-feel-like-a-full-season/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/game-thrones-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/game-thrones-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/game-thrones-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/game-thrones-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/game-thrones-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/game-thrones.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>The final 6 ‘Game of Thrones’ episodes might feel like a full season</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/girls-trip-already-surpasses-rough-night-in-opening-weekend/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/women-party-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-party-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-party-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-party-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-party-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-party.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>‘Girls Trip’ already surpasses ‘Rough Night’ in opening weekend</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/new-season-8-walking-dead-trailer-flashes-forward-in-time/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/walking-dead-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/walking-dead-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/walking-dead-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/walking-dead-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/walking-dead-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/walking-dead.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>New Season 8 Walking Dead trailer flashes forward in time</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/mod-turns-counter-strike-into-a-tekken-clone-with-fighting-chickens/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/gamer-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/gamer-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/gamer-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/gamer-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/gamer-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/gamer.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>Mod turns ‘Counter-Strike’ into a ‘Tekken’ clone with fighting chickens</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/meet-supermans-grandfather-in-new-trailer-for-krypton/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/superman-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/superman-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/superman-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/superman-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/superman-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/superman.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>Meet Superman’s grandfather in new trailer for Krypton</p></a></li></ul></div></div></li>
<li class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-364"><a href="http://www.mvpthemes.com/zoxnews/category/politics/">Politics</a><div class="lztv-mega-dropdown"><div class="lztv-main-box"><ul class="lztv-mega-list"><li><a href="http://www.mvpthemes.com/zoxnews/illinois-financial-crisis-could-bring-the-state-to-a-halt/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/politics-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics-1024x614.jpg 1024w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics-1000x600.jpg 1000w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politics.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>Illinois’ financial crisis could bring the state to a halt</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/mayors-agree-congress-should-invest-in-affordable-housing/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/apartments-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/apartments-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/apartments-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/apartments-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/apartments-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/apartments.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Mayors agree, Congress should invest in affordable housing</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/congress-rolls-out-better-deal-new-economic-agenda/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/politicians-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politicians-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politicians-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politicians-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politicians-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politicians.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Congress rolls out ‘Better Deal,’ new economic agenda</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/ruth-bader-ginsburg-optimistic-over-the-long-haul-for-us/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/judge-woman-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/judge-woman-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/judge-woman-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/judge-woman-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/judge-woman-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/judge-woman.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Ruth Bader Ginsburg optimistic ‘over the long haul’ for US</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/poll-virginia-governors-race-in-dead-heat/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/politician3-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politician3-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politician3-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politician3-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politician3-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/politician3.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Poll: Virginia governor’s race in dead heat</p></a></li></ul></div></div></li>
<li class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-175"><a href="http://www.mvpthemes.com/zoxnews/category/fashion/">Fashion</a><div class="lztv-mega-dropdown"><div class="lztv-main-box"><ul class="lztv-mega-list"><li><a href="http://www.mvpthemes.com/zoxnews/9-celebrities-who-have-spoken-out-about-being-photoshopped/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/woman-skate-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-skate-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-skate-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-skate-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-skate-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-skate.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-camera fa-3"></i></div></div><p>9 Celebrities who have spoken out about being photoshopped</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/emily-ratajkowski-channels-back-to-school-style/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/woman-brunette2-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-brunette2-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-brunette2-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-brunette2-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-brunette2-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-brunette2.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Emily Ratajkowski channels back-to-school style</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/these-90s-fashion-trends-are-making-a-comeback-in-2017/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/woman-smile7-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-smile7-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-smile7-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-smile7-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-smile7-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-smile7.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-camera fa-3"></i></div></div><p>These ’90s fashion trends are making a comeback in 2017</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/according-to-dior-couture-this-taboo-fashion-accessory-is-back/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/man-fedora-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-fedora-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-fedora-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-fedora-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-fedora-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-fedora.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>According to Dior Couture, this taboo fashion accessory is back</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/model-jocelyn-chews-instagram-is-the-best-vacation-youve-ever-had/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/woman-boat-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-boat-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-boat-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-boat-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-boat-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/woman-boat.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-camera fa-3"></i></div></div><p>Model Jocelyn Chew’s Instagram is the best vacation you’ve ever had</p></a></li></ul></div></div></li>
<li class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-178"><a href="http://www.mvpthemes.com/zoxnews/category/sports/">Sports</a><div class="lztv-mega-dropdown"><div class="lztv-main-box"><ul class="lztv-mega-list"><li><a href="http://www.mvpthemes.com/zoxnews/federer-makes-history-with-eighth-wimbledon-19th-major-title/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/tennis-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/tennis-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/tennis-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/tennis-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/tennis-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/tennis.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Federer makes history with eighth Wimbledon, 19th major title</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/signings-trades-shift-balance-of-power-across-the-nhl/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/hockey2-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/hockey2-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/hockey2-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/hockey2-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/hockey2-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/hockey2.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Signings, trades shift balance of power across the NHL</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/who-are-the-early-favorites-to-win-the-nfl-rushing-title/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/football-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football-1024x614.jpg 1024w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football-1000x600.jpg 1000w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/football.jpg 1600w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>Who are the early favorites to win the NFL rushing title?</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/boxing-continues-to-knock-itself-out-with-bewildering-incorrect-decisions/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/boxer-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/boxer-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/boxer-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/boxer-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/boxer-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/boxer.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>Boxing continues to knock itself out with bewildering, incorrect decisions</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/steph-curry-finally-got-the-contract-he-deserves-from-the-warriors/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/basketball2-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/basketball2-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/basketball2-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/basketball2-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/basketball2-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/basketball2.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-play fa-3"></i></div></div><p>Steph Curry finally got the contract he deserves from the Warriors</p></a></li></ul></div></div></li>
<li class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-335"><a href="http://www.mvpthemes.com/zoxnews/category/tech/">Tech</a><div class="lztv-mega-dropdown"><div class="lztv-main-box"><ul class="lztv-mega-list"><li><a href="http://www.mvpthemes.com/zoxnews/mobile-google-ceo-promises-11-daydream-compatible-phones/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/vr-headset-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/vr-headset.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Mobile Google CEO Promises 11 Daydream-compatible phones</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/fords-2018-mustang-gt-can-do-0-to-60-mph-in-under-4-seconds/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/blue-car-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/blue-car.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Ford’s 2018 Mustang GT can do 0-to-60 mph in under 4 seconds</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/hulu-hires-google-marketing-veteran-kelly-campbell-as-cmo/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/business-woman-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-woman.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Hulu hires Google marketing veteran Kelly Campbell as CMO</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/nasa-seeks-to-build-a-quieter-supersonic-plane-for-passenger-flight/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/airplane-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/airplane.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>NASA seeks to build a quieter supersonic plane for passenger flight</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/microsoft-paint-is-finally-dead-and-the-world-is-a-better-place/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/women-computer-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/women-computer.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Microsoft Paint is finally dead, and the world Is a better place</p></a></li></ul></div></div></li>
<li class="lztv-mega-dropdown menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176"><a href="http://www.mvpthemes.com/zoxnews/category/business/">Business</a><div class="lztv-mega-dropdown"><div class="lztv-main-box"><ul class="lztv-mega-list"><li><a href="http://www.mvpthemes.com/zoxnews/msnbc-finishes-first-in-primetime-basic-cable-for-first-time-ever/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/news-station-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/news-station-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/news-station-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/news-station-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/news-station-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/news-station.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>MSNBC finishes first in primetime basic cable for first time ever</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/6-stunning-new-co-working-spaces-around-the-globe/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/office-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/office-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/office-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/office-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/office-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/office.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-camera fa-3"></i></div></div><p>6 Stunning new co-working spaces around the globe</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/3-ways-to-make-your-business-presentation-more-relatable/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/business-presentation-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-presentation-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-presentation-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-presentation-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-presentation-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/business-presentation.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"><div class="lztv-vid-box-wrap lztv-vid-box-small lztv-vid-marg-small"><i class="fa fa-camera fa-3"></i></div></div><p>3 Ways to make your business presentation more relatable</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/this-is-how-you-dress-for-a-job-interview-and-land-an-offer/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/man-suit-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-suit-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-suit-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-suit-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-suit-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/man-suit.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>This is how you dress for a job interview, and land an offer</p></a></li><li><a href="http://www.mvpthemes.com/zoxnews/uber-and-lyft-are-finally-available-in-all-of-new-york-state/"><div class="lztv-mega-img"><img width="400" height="240" src="assets/images/car-friends-400x240.jpg" class="attachment-lztv-mid-thumb size-lztv-mid-thumb wp-post-image" alt="" srcset="http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/car-friends-400x240.jpg 400w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/car-friends-300x180.jpg 300w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/car-friends-768x461.jpg 768w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/car-friends-590x354.jpg 590w, http://www.mvpthemes.com/zoxnews/wp-content/uploads/2017/07/car-friends.jpg 1000w" sizes="(max-width: 400px) 100vw, 400px"></div><p>Uber and Lyft are finally available in all of New York State</p></a></li></ul></div></div></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="http://www.mvpthemes.com/zoxnews/shop/">Shop</a></li>
</ul></div>															</div><!--lztv-nav-menu-->
														</div><!--lztv-nav-bot-left-in-->
													</div><!--lztv-nav-bot-left-out-->
												</div><!--lztv-nav-bot-cont-->
											</div><!--lztv-nav-bot-right-in-->
											<div class="lztv-nav-bot-right left relative">
												<span class="lztv-nav-search-but fa fa-search fa-2 lztv-search-click"></span>
											</div><!--lztv-nav-bot-right-->
										</div><!--lztv-nav-bot-right-out-->
									</div><!--lztv-nav-bot-wrap-->
								</div><!--lztv-main-nav-bot-cont-->
							</div><!--lztv-main-box-->
						</div><!--lztv-main-nav-bot-->
					</nav><!--lztv-main-nav-wrap-->
							</header><!--lztv-main-head-wrap-->
			<div id="lztv-main-body-wrap" class="left relative" style="transform: none; margin-top: 0px;"><article id="lztv-article-wrap" class="post-192 page type-page status-publish hentry" itemscope="" itemtype="http://schema.org/NewsArticle" style="transform: none;">
			<div id="lztv-article-cont" class="left relative" style="transform: none;">
			<div class="lztv-main-box" style="transform: none;">
				<div id="lztv-post-main" class="left relative" style="transform: none;">
					<header id="lztv-post-head" class="left relative">
						<h1 class="lztv-post-title left entry-title" itemprop="headline">Full-Width Page</h1>
					</header>
					<div id="lztv-post-content" class="left relative" style="transform: none;">
						<div id="lztv-content-wrap" class="left relative" style="transform: none;">
							<div class="lztv-post-soc-out right relative" style="transform: none;">
																	<div class="lztv-post-soc-wrap left relative" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
										
									<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; left: 351.5px; top: 0px;"><ul class="lztv-post-soc-list left relative">
											<a href="http://www.mvpthemes.com/zoxnews/sample-page/#" onclick="window.open(&#39;http://www.facebook.com/sharer.php?u=http://www.mvpthemes.com/zoxnews/sample-page/&amp;t=Full-Width Page&#39;, &#39;facebookShare&#39;, &#39;width=626,height=436&#39;); return false;" title="Share on Facebook">
											<li class="lztv-post-soc-fb">
												<i class="fa fa-2 fa-facebook" aria-hidden="true"></i>
											</li>
											</a>
											<a href="http://www.mvpthemes.com/zoxnews/sample-page/#" onclick="window.open(&#39;http://twitter.com/share?text=Full-Width Page -&amp;url=http://www.mvpthemes.com/zoxnews/sample-page/&#39;, &#39;twitterShare&#39;, &#39;width=626,height=436&#39;); return false;" title="Tweet This Post">
											<li class="lztv-post-soc-twit">
												<i class="fa fa-2 fa-twitter" aria-hidden="true"></i>
											</li>
											</a>
											<a href="http://www.mvpthemes.com/zoxnews/sample-page/#" onclick="window.open(&#39;http://pinterest.com/pin/create/button/?url=http://www.mvpthemes.com/zoxnews/sample-page/&amp;media=&amp;description=Full-Width Page&#39;, &#39;pinterestShare&#39;, &#39;width=750,height=350&#39;); return false;" title="Pin This Post">
											<li class="lztv-post-soc-pin">
												<i class="fa fa-2 fa-pinterest-p" aria-hidden="true"></i>
											</li>
											</a>
											<a href="mailto:?subject=Full-Width%20Page&amp;BODY=I%20found%20this%20article%20interesting%20and%20thought%20of%20sharing%20it%20with%20you.%20Check%20it%20out:%20http://www.mvpthemes.com/zoxnews/sample-page/">
											<li class="lztv-post-soc-email">
												<i class="fa fa-2 fa-envelope" aria-hidden="true"></i>
											</li>
											</a>
																					</ul><div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 52px; height: 203px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div><!--lztv-post-soc-wrap-->
																<div class="lztv-post-soc-in">
									<div id="lztv-content-body" class="left-relative">
										<div id="lztv-content-main" class="left relative">
											<p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
<p>Nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.</p>
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
																					</div><!--lztv-content-main-->
										<div id="lztv-content-bot" class="left relative">
											<div class="lztv-org-wrap" itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
												<div class="lztv-org-logo" itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
																											<img src="assets/images/logo-nav.png" alt="Zox News">
														<meta itemprop="url" content="http://www.mvpthemes.com/zoxnews/wp-content/themes/zox-news/images/logos/logo-nav.png">
																									</div><!--lztv-org-logo-->
												<meta itemprop="name" content="Zox News">
											</div><!--lztv-org-wrap-->
																					</div><!--lztv-content-bot-->
									</div><!--lztv-content-body-->
								</div><!--lztv-post-soc-in-->
							</div><!--lztv-post-soc-out-->
						</div><!--lztv-content-wrap-->
					</div><!--lztv-post-content-->
				</div><!--lztv-post-main-->
			</div><!--lztv-main-box-->
		</div><!--lztv-article-cont-->
	</article><!--lztv-article-wrap-->
			</div><!--lztv-main-body-wrap-->
			<footer id="lztv-foot-wrap" class="left relative">
				<div id="lztv-foot-top" class="left relative">
					<div class="lztv-main-box">
						<div id="lztv-foot-logo" class="left relative">
															<a href="http://www.mvpthemes.com/zoxnews/"><img src="assets/images/logo-large.png" alt="Zox News" data-rjs="2"></a>
													</div><!--lztv-foot-logo-->
						<div id="lztv-foot-soc" class="left relative">
							<ul class="lztv-foot-soc-list left relative">
																	<li><a href="http://www.facebook.com/envato" target="_blank" class="fa fa-facebook fa-2"></a></li>
																									<li><a href="http://www.twitter.com/mvpthemes" target="_blank" class="fa fa-twitter fa-2"></a></li>
																									<li><a href="http://www.pinterest.com/envato" target="_blank" class="fa fa-pinterest-p fa-2"></a></li>
																									<li><a href="http://www.instagram.com/envato" target="_blank" class="fa fa-instagram fa-2"></a></li>
																									<li><a href="https://plus.google.com/+envato/posts" target="_blank" class="fa fa-google-plus fa-2"></a></li>
																									<li><a href="https://www.youtube.com/user/envato" target="_blank" class="fa fa-youtube-play fa-2"></a></li>
																									<li><a href="https://www.linkedin.com/company/envato" target="_blank" class="fa fa-linkedin fa-2"></a></li>
																									<li><a href="http://wonderfulworldofwebdesign.tumblr.com/" target="_blank" class="fa fa-tumblr fa-2"></a></li>
															</ul>
						</div><!--lztv-foot-soc-->
						<div id="lztv-foot-menu-wrap" class="left relative">
							<div id="lztv-foot-menu" class="left relative">
								<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a href="http://www.mvpthemes.com/zoxnews/sample-page/#">Buy Theme</a></li>
<li id="menu-item-188" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-188"><a href="http://www.mvpthemes.com/zoxnews/category/entertainment/">Entertainment</a></li>
<li id="menu-item-186" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-186"><a href="http://www.mvpthemes.com/zoxnews/category/fashion/">Fashion</a></li>
<li id="menu-item-189" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-189"><a href="http://www.mvpthemes.com/zoxnews/category/sports/">Sports</a></li>
<li id="menu-item-187" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-187"><a href="http://www.mvpthemes.com/zoxnews/category/business/">Business</a></li>
<li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-283"><a href="http://www.mvpthemes.com/zoxnews/shop/">Shop</a></li>
</ul></div>							</div><!--lztv-foot-menu-->
						</div><!--lztv-foot-menu-wrap-->
					</div><!--lztv-main-box-->
				</div><!--lztv-foot-top-->
				<div id="lztv-foot-bot" class="left relative">
					<div class="lztv-main-box">
						<div id="lztv-foot-copy" class="left relative">
							<p>Copyright © 2017 Zox News Theme. Theme by MVP Themes, powered by <a href="https://wordpress.org/" target="_blank">WordPress</a>.</p>
						</div><!--lztv-foot-copy-->
					</div><!--lztv-main-box-->
				</div><!--lztv-foot-bot-->
			</footer>
		</div><!--lztv-site-main-->
	</div><!--lztv-site-wall-->
</div><!--lztv-site-->
<div class="lztv-fly-top back-to-top">
	<i class="fa fa-angle-up fa-3"></i>
</div><!--lztv-fly-top-->
<div class="lztv-fly-fade lztv-fly-but-click">
</div><!--lztv-fly-fade-->
		<div data-theiastickysidebar-sidebarselector="&quot;#lztv-side-wrap,.lztv-post-soc-wrap,.lztv-flex-side-wrap&quot;" data-theiastickysidebar-options="{&quot;containerSelector&quot;:&quot;&quot;,&quot;additionalMarginTop&quot;:120,&quot;additionalMarginBottom&quot;:20,&quot;updateSidebarHeight&quot;:false,&quot;minWidth&quot;:1004,&quot;sidebarBehavior&quot;:&quot;modern&quot;,&quot;disableOnResponsiveLayouts&quot;:true}"></div>
				<!-- Root element of PhotoSwipe. Must have class pswp. -->
		<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

		    <!-- Background of PhotoSwipe.
		         It's a separate element as animating opacity is faster than rgba(). -->
		    <div class="pswp__bg"></div>

		    <!-- Slides wrapper with overflow:hidden. -->
		    <div class="pswp__scroll-wrap">

		        <!-- Container that holds slides.
		            PhotoSwipe keeps only 3 of them in the DOM to save memory.
		            Don't modify these 3 pswp__item elements, data is added later on. -->
		        <div class="pswp__container">
		            <div class="pswp__item"></div>
		            <div class="pswp__item"></div>
		            <div class="pswp__item"></div>
		        </div>

		        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		        <div class="pswp__ui pswp__ui--hidden">

		            <div class="pswp__top-bar">

		                <!--  Controls are self-explanatory. Order can be changed. -->

		                <div class="pswp__counter"></div>

		                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

		                <button class="pswp__button pswp__button--share" title="Share"></button>

		                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

		                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

		                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
		                <!-- element will get class pswp__preloader-active when preloader is running -->
		                <div class="pswp__preloader">
		                    <div class="pswp__preloader__icn">
		                      <div class="pswp__preloader__cut">
		                        <div class="pswp__preloader__donut"></div>
		                      </div>
		                    </div>
		                </div>
		            </div>

		            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
		                <div class="pswp__share-tooltip"></div>
		            </div>

		            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
		            </button>

		            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
		            </button>

		            <div class="pswp__caption">
		                <div class="pswp__caption__center"></div>
		            </div>

		        </div>

		    </div>

		</div>
		<script type="text/javascript" src="assets/js/ResizeSensor.js.download"></script>
<script type="text/javascript" src="assets/js/theia-sticky-sidebar.js.download"></script>
<script type="text/javascript" src="assets/js/main.js.download"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/zoxnews\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/www.mvpthemes.com\/zoxnews\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type="text/javascript" src="assets/js/add-to-cart.min.js.download"></script>
<script type="text/javascript" src="assets/js/jquery.blockUI.min.js.download"></script>
<script type="text/javascript" src="assets/js/js.cookie.min.js.download"></script>
<script type="text/javascript">
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/zoxnews\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type="text/javascript" src="assets/js/woocommerce.min.js.download"></script>
<script type="text/javascript">
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/zoxnews\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments_5d823267a085d4c021cb2485ac6c1362"};
/* ]]> */
</script>
<script type="text/javascript" src="assets/js/cart-fragments.min.js.download"></script>
<script type="text/javascript" src="assets/js/jquery.nouislider.all.min.js.download"></script>
<script type="text/javascript" src="assets/js/photoswipe.js.download"></script>
<script type="text/javascript" src="assets/js/jquery.knob.js.download"></script>
<script type="text/javascript" src="assets/js/reviewer.public.min.js.download"></script>
<script type="text/javascript">
/* <![CDATA[ */
var rwpConstants = {"debugVue":""};
var reviewerRatingObj = {"ajax_nonce":"7fc891309e","ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/wp-admin\/admin-ajax.php","action":"rwp_ajax_action_rating"};
var reviewerJudgeObj = {"ajax_nonce":"1e659b6e9e","ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/wp-admin\/admin-ajax.php","action":"rwp_ajax_action_like"};
var reviewerQueryURs = {"ajax_nonce":"7463f26bfb","ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/wp-admin\/admin-ajax.php","action":"rwp_reviews_box_query_users_reviews"};
/* ]]> */
</script>
<script type="text/javascript" src="assets/js/reviewer-reviews-boxes.js.download"></script>
<script type="text/javascript">
/* <![CDATA[ */
var rwpConstants = {"debugVue":""};
var reviewerQueryAllURs = {"ajax_nonce":"af7f21624f","ajax_url":"http:\/\/www.mvpthemes.com\/zoxnews\/wp-admin\/admin-ajax.php","action":"rwp_reviews_box_query_all_users_reviews"};
/* ]]> */
</script>
<script type="text/javascript" src="assets/js/reviewer-widget-users-reviews.js.download"></script>
<script type="text/javascript" src="assets/js/mvpcustom.js.download"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
	$(window).load(function(){
	var leaderHeight = $("#lztv-leader-wrap").outerHeight();
	var logoHeight = $("#lztv-main-nav-top").outerHeight();
	var botHeight = $("#lztv-main-nav-bot").outerHeight();
	var navHeight = $("#lztv-main-head-wrap").outerHeight();
	var headerHeight = navHeight + leaderHeight;
	var aboveNav = leaderHeight + logoHeight;
	var totalHeight = logoHeight + botHeight;
	var previousScroll = 0;
	$(window).scroll(function(event){
			var scroll = $(this).scrollTop();
			if ($(window).scrollTop() > aboveNav){
				$("#lztv-main-nav-top").addClass("lztv-nav-small");
				$("#lztv-main-nav-bot").css("margin-top", logoHeight );
			} else {
				$("#lztv-main-nav-top").removeClass("lztv-nav-small");
				$("#lztv-main-nav-bot").css("margin-top","0");
			}
			if ($(window).scrollTop() > headerHeight){
				$("#lztv-main-nav-top").addClass("lztv-fixed");
				$("#lztv-main-nav-bot").addClass("lztv-fixed1");
				$("#lztv-main-body-wrap").css("margin-top", totalHeight );
				$("#lztv-main-nav-top").addClass("lztv-fixed-shadow");
				$(".lztv-fly-top").addClass("lztv-to-top");
	    		if(scroll < previousScroll) {
					$("#lztv-main-nav-bot").addClass("lztv-fixed2");
					$("#lztv-main-nav-top").removeClass("lztv-fixed-shadow");
				} else {
					$("#lztv-main-nav-bot").removeClass("lztv-fixed2");
					$("#lztv-main-nav-top").addClass("lztv-fixed-shadow");
				}
			} else {
				$("#lztv-main-nav-top").removeClass("lztv-fixed");
				$("#lztv-main-nav-bot").removeClass("lztv-fixed1");
				$("#lztv-main-nav-bot").removeClass("lztv-fixed2");
				$("#lztv-main-body-wrap").css("margin-top","0");
				$("#lztv-main-nav-top").removeClass("lztv-fixed-shadow");
	    		$(".lztv-fly-top").removeClass("lztv-to-top");
			}
			previousScroll = scroll;
	});
	});
	});
	

	jQuery(document).ready(function($) {
	// Mobile Social Buttons More
	$(window).load(function(){
 		$(".lztv-soc-mob-right").on("click", function(){
			$("#lztv-soc-mob-wrap").toggleClass("lztv-soc-mob-more");
  		});
  	});
	});
  	

	jQuery(document).ready(function($) {
	// Continue Reading Button
	$(window).load(function(){
 		$(".lztv-cont-read-but").on("click", function(){
			$("#lztv-content-body-top").css("max-height","none");
			$("#lztv-content-body-top").css("overflow","visible");
			$(".lztv-cont-read-but-wrap").hide();
  		});
  	});
	});
  	

	jQuery(document).ready(function($) {
	$(window).load(function(){
		var leaderHeight = $("#lztv-leader-wrap").outerHeight();
		$("#lztv-site-main").css("margin-top", leaderHeight );
  	});

	$(window).resize(function(){
		var leaderHeight = $("#lztv-leader-wrap").outerHeight();
		$("#lztv-site-main").css("margin-top", leaderHeight );
	});

	});
  	

	jQuery(document).ready(function($) {
	$(".menu-item-has-children a").click(function(event){
	  event.stopPropagation();
	  location.href = this.href;
  	});

	$(".menu-item-has-children").click(function(){
    	  $(this).addClass("toggled");
    	  if($(".menu-item-has-children").hasClass("toggled"))
    	  {
    	  $(this).children("ul").toggle();
	  $(".lztv-fly-nav-menu").getNiceScroll().resize();
	  }
	  $(this).toggleClass("tog-minus");
    	  return false;
  	});

	// Main Menu Scroll
	$(window).load(function(){
	  $(".lztv-fly-nav-menu").niceScroll({cursorcolor:"#888",cursorwidth: 7,cursorborder: 0,zindex:999999});
	});
	});
	

	jQuery(document).ready(function($) {
	$(".infinite-content").infinitescroll({
	  navSelector: ".lztv-nav-links",
	  nextSelector: ".lztv-nav-links a:first",
	  itemSelector: ".infinite-post",
	  errorCallback: function(){ $(".lztv-inf-more-but").css("display", "none") }
	});
	$(window).unbind(".infscr");
	$(".lztv-inf-more-but").click(function(){
   		$(".infinite-content").infinitescroll("retrieve");
        	return false;
	});
	$(window).load(function(){
		if ($(".lztv-nav-links a").length) {
			$(".lztv-inf-more-but").css("display","inline-block");
		} else {
			$(".lztv-inf-more-but").css("display","none");
		}
	});
	});
	
</script>
<script type="text/javascript" src="assets/js/scripts.js.download"></script>
<script type="text/javascript" src="assets/js/retina.js.download"></script>
<script type="text/javascript" src="assets/js/jquery.infinitescroll.min.js.download"></script>
<script type="text/javascript" src="assets/js/comment-reply.min.js.download"></script>
<script type="text/javascript" src="assets/js/wp-embed.min.js.download"></script>


<!-- Performance optimized by W3 Total Cache. Learn more: https://www.w3-edge.com/products/

Object Caching 5362/5445 objects using disk
Page Caching using disk: enhanced
Database Caching 1/32 queries in 0.012 seconds using disk

 Served from: www.mvpthemes.com @ 2017-12-11 20:17:40 by W3 Total Cache --><div id="ascrail2000" class="nicescroll-rails" style="width: 7px; z-index: 999999; cursor: default; position: absolute; top: 70px; left: -27px; height: 372px; display: none;"><div style="position: relative; top: 0px; float: right; width: 7px; height: 0px; background-color: rgb(136, 136, 136); border: 0px; background-clip: padding-box; border-radius: 5px;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 7px; z-index: 999999; top: 435px; left: -350px; position: absolute; cursor: default; display: none;"><div style="position: relative; top: 0px; height: 7px; width: 0px; background-color: rgb(136, 136, 136); border: 0px; background-clip: padding-box; border-radius: 5px;"></div></div></body></html>